body {
    background-color: rgb(241,234,192);
    background-size: cover;
}

.navbar {
    background-color:  rgb(198,179,120);
    border: 2px solid rgb(163,138,77);
}

h1 {
    color: rgb(134,103,1);
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: rgb(134,103,1); 
}

img {
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;  
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p {
    font-size: 18px;
}

.col-sm-6 {
    background-color: rgb(255,246,222);
    border: 2px solid rgb(163,137,77);
    padding: 20px;
    border-radius: 25px;

}

.col-sm-12 {
    background-color: rgb(255,246,222);
    border: 2px solid rgb(163,137,77);
    padding: 20px;
    border-radius: 25px; 
}

.alignleft {
    float: left;
}