body {
    background-color:black;
    background-size: cover;
}

.navbar {
    background-color:  rgb(198,179,120);
    border: 2px solid rgb(163,138,77);
}

h1 {
    color: rgb(134,103,1);
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: rgb(134,103,1); 
}

h3 {
    font-size: 25px;
    text-align: left;
    color: rgb(134,103,1); 
}

h4 {
    font-size: 25px;
    text-align: center;
    color: rgb(134,103,1); 
}

img {
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;  
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p {
    font-size: 18px;
    color: white;
}
.p2 {
    text-align: center;
}

li {
    font-size: 18px;
    color: white;  
}

.col-sm-6 {
    background-color: black;
    padding: 20px;
    border-radius: 25px;

}

.col-sm-12 {
    background-color: black;
    padding: 20px;
    border-radius: 25px; 
}

.alignleft {
    float: left;
}

.tableauPlaceholder {
    align-items: center;
}

.tableauViz {
    align-items: center;
}

.footnote {
    font-size: 12px;
}