<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="../static/css/style.css" rel="stylesheet">

<!-- link to animation css library -->

</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/price">Raw Gold Prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page2">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/cjvilla/Gold-Projections.git">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>


<!-- Start of body -->
<div class = "container-fluid">
  <div class = "row">
    <div class = "col">
      <h1>Gold Projections</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <p></p>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <p></p>
    </div>
  </div>
    <div class = "row">
    <div class = "col">
      <p></p>
    </div>
  </div>
</div>

<!-- Container for information and images -->
<div class = "container">

  <div class = "row">
    <div class = "col">
    <h2>Project Background</h2>
    </div>
  </div>
  <div class = "row">
    <p>In 2020, the average closing price of Gold on the US Stock market was $1,773.73. Compared to June of 1971, when Gold was averaging $248.53, that's an increase of 613%! But... why?</p>
  </div>
  <div class = "row">
    <p>Does the price of Gold see an impact from Inflation Rate fluxuation? The change in the US Dollar index? Is there impact from the exchange rate of other currencies? 
      In this project, our group set out to understand what (if any) correlation these factors had with each other. 
    </p>
  </div>
  <div class = "row">
    <p>HOWEVER, like all great projects, we had our stumbling blocks before we found our <i>Golden</i> idea.
    </p>
  </div>


<!-- close container -->
</div> 


  <div id='footer'>
    <p>&copy; 2021 Celine Villareal, Emily Wuenstel, Eric Medina </p>
  </div>
</body>

</html>